@viewport{
  zoom: 1.0;
  width: device-width;
}

@viewport{
zoom: 1.0;
width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

.logoff a{ 
  border: solid 1px red;
  background-color: red;
  border-radius: 10px;
  text-decoration: none;
  color:black;
  padding: 3px;
}

.welcome{
  background-image: linear-gradient(#635FFF, white);
  height: 100%;
}

.welcome_box{
  background-color: white;
  border-radius: 10px;
  margin-left: 50%;
  height: 85%;
  width: 35%;
  font-family: 'Times New Roman', Times, serif;
}

.login{
  padding: 15px 0px;
  border-radius: 5px;
  border: black solid 1px;   
  border: 0px;
  text-align: center;
}

.forget_password{
  margin-left: 60%;
  color: blue;
  font-family: 'Times New Roman', Times, serif;
}
/*
.posicao_botoes{
  margin: 20% auto;
  text-align: center;
  border: none;
}*/

.botao{
  text-transform: uppercase;
  font-size: x-large;
  border: none;
  margin-top: 7%;
  padding: 15px;
  border-radius: 10px;
  background-image: linear-gradient(#F9F9F9, #E9E9E9);
  text-align: center;

}

.menu_principal{
  background-image: linear-gradient(#635FFF, white);
  height: 23%;
}

body {
  width: 100%;
  height: 100%;
}

main {
  margin: 10px auto;
  text-align: center;
}
.menu ul li{
  display: inline-block;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-transform: uppercase;
}

.menu ul li a{
  text-decoration: none;
  color: #000000;
}

ul li:hover ul{
  display:block;
}

ul li ul{
  position:absolute;
  padding: 30px;
  width: 170px;
  display: none;
  margin-left: -62px;
}
ul li ul li {
  width: 170px;
  background-color: #F2F2F2;
}

ul li ul li:hover{
  background-color: #AAA;
}

.sub_title {
  width: 980px;
  display:flex;
  margin: auto;
  justify-content:center;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

.date_title{
  width: 350px;
  height: 45px;
  margin: 15px auto;
  text-transform: uppercase;
  border: 1px solid black;
  display: flex;
}

.date_content{
  margin: auto;
  text-align: center;
  justify-content: center;
}

.sub_title2{
  width: 350px;
  text-transform: uppercase;
  border: 1px solid black;
  margin: auto;
}

.body_text{
  border: 1px solid black;
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: justify;
  padding: 5px;
  justify-content: center;
}